@model IEnumerable<navettes.Models.Ste>


<h2>Interface societé</h2>
<hr />
<h3>privillèges : </h3>
<center>
    <hr />
    <a href="https://localhost:44342/Navettes/NavettesCRUD" class="btn btn-primary btn-lg">Modifer les Trajets &raquo;</a>
    <br /><br />
    <a href="https://localhost:44342/compteVoyageur/VoyageurCRUD" class="btn btn-primary btn-lg">Consulter les voyageurs &raquo;</a>
    <br /><br />
    <a href="https://localhost:44342/Abonnements/AbonnementsCRUD" class="btn btn-primary btn-lg">Consulter & gérer les abonements &raquo;</a>
    <br /><br />
    <a href="https://localhost:44342/Offres/OffresCRUD" class="btn btn-primary btn-lg">Ajouter des offres &raquo;</a>
    <br /><br />
</center>
<hr />