@model IEnumerable<navettes.Models.Administrateur>


<h2>Interface administrateur</h2>
<hr />
<h3>privillèges : </h3>
<center>
    <hr />
    <a href="https://localhost:44342/Administrateurs/AdminCRUD" class="btn btn-primary btn-lg">Modifer les administrateurs &raquo;</a>
    <br /><br />
    <a href="https://localhost:44342/compteVoyageur/VoyageurCRUD" class="btn btn-primary btn-lg">Afficher les voyageurs &raquo;</a>
    <br /><br />
    <a href="https://localhost:44342/Stes/SteCRUD" class="btn btn-primary btn-lg">Modifier les societés &raquo;</a>
    <br /><br />
    <a href="https://localhost:44342/Abonnements/AbonnementsCRUD" class="btn btn-primary btn-lg">Modifier les abonnements &raquo;</a>
    <br /><br />
    <a href="https://localhost:44342/Offres/OffresCRUD" class="btn btn-primary btn-lg">Modifier les offres &raquo;</a>
    <br /><br />
    <a href="https://localhost:44342/buses/busesCRUD" class="btn btn-primary btn-lg">Modifier les autocars &raquo;</a>
    <br /><br />
    <a href="https://localhost:44342/Navettes/NavettesCRUD" class="btn btn-primary btn-lg">Modifier les navettes &raquo;</a>
    <br /><br />
    <a href="https://localhost:44342/Demandes/DemandesCRUD" class="btn btn-primary btn-lg">Modifier les demandes &raquo;</a>
    <br />
</center>
<hr />